---
layout: page
---

{% for post in paginator.posts %}
<!-- Post title -->
<h2 class="post-title">
    <a href="{{post.url | prepend:site.baseurl | prepend:site.url}}">
        {{ post.title }}
    </a>
</h2>

<!-- Post meta -->
<div class="post-meta">
    <!-- Time -->
    <i class="fa fa-calendar"></i>
    <time>{{ post.date | date_to_string }}</time>
    &nbsp;&nbsp;

    <!-- Categories -->
    <i class="fa fa-file"></i>
    {% for cat in post.categories %}
    <a href="{{site.baseurl | prepend:site.url}}/categories/#{{ cat }}">{{ cat }}</a> &nbsp;
    {% endfor %}

    <!-- Tags -->
    <div class="post-tag">
        <i class="fa fa-tags"></i>
        {% for tag in post.tags %}
        <a href="{{site.baseurl | prepend:site.url}}/tags/#{{ tag }}">{{ tag }}</a> &nbsp;
        {% endfor %}
    </div>

</div>

<div class="post-descr">
    <p>
        {{ post.description }}
    </p>
</div>
{% endfor %}


<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</a>
    {% else %}
    <a class="pagination-item newer" href="/page/{{paginator.previous_page}}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</span>
    {% endif %}

    {% if paginator.page == 1 %}
    <span class="current-page">1</span>
    {% else %}
    <a href="/">1</a>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
    <span class="current-page">{{count}}</span>
    {% else %}
    <a href="/page/{{count}}">{{count}}</a>
    {% endif %}
    {% endfor %}
    (Total {{ paginator.total_posts }})

    {% if paginator.next_page %}
    <a class="pagination-item older" href="/page/{{paginator.next_page}}">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
    {% else %}
    <span class="pagination-item older">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></span>
    {% endif %}
</div>