<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ site.logo_image }}">
  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/fold.js"></script>
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<!-- Google Analytics -->
{% include google-analytics.html %}

 <script type="text/javascript">
  WebFontConfig = {
    google: {
      families: ['Ubuntu::latin']
    }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/"><b>{{ site.name }}</b></a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ site.baseurl }}/"> <i class="fa fa-home"></i> Home </a></li>
          <li><a href="{{ site.baseurl }}/author/"><i class="fa fa-user"></i> Author </a></li>
          <li><a href="{{ site.baseurl }}/archive/"><i class="fa fa-file-archive-o"></i> Archive </a></li>
          <li><a href="{{ site.baseurl }}/categories/"><i class="fa fa-folder-open-o"></i> Categories </a></li>
          <li><a href="{{ site.baseurl }}/tags/"><i class="fa fa-tags"></i> Tags</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-heart"></i> Life <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Page A</a></li>
                <li><a href="#">Page B</a></li>
                <li><a href="#">Page C</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/about/"><i class="fa fa-question-circle"></i> About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-map"></i> More <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/notes/"><i class="fa fa-map-o"></i> My Notes </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
