<div class="sidebar">
  <h2>About Me</h2>
  <p>I am a data scientist and software developer, and ...</p>
  {% include social.html %}
</div>

{% if site.share.baidu %}
<div class="sidebar">
  <h2>Share Link:</h2>
  {% include baidushare.html %}
</div>
{% endif %}

<div class="sidebar">
  <h2>Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul>
    {% for tag in site.tags %}
    <li><a href="{{ site.baseurl }}/tags/#{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
